<nav>
  <h1></h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
<!--   <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2> -->
  <div id="bio">
    <p> 📚 <b>공부하며 기록하는 공간</b> </p>
    <p style="font-size:11px">
      <b>Interests : </b><br>
      SNA(Social Network Analysis)<br>
      NLP(natural language processing)<br> 
      NLU(natural language understanding)<br> 
      NLG(natural language generation)<br> 
      GNN(Graph Neural Network)<br>
      Text Summarization
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
