<nav>
  <h1></h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
<!--   <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2> -->
  <div id="bio">
    <p> 📚 공부하며 기록하는 공간 </p>
    <p style="font-size:12px">
      Interests<br>
      SNA(Social Network Analysis), NLP(natural language processing), NLU(natural language understanding), NLG(natural language generation), 
      GNN(Graph Neural Network),<br>
      Text Summarization
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
